/* Empty. Add your own CSS if you like */
.bar .buttons {
	position: absolute;
	z-index: 2;
}

.card > img {
	width: 100%;
	height: auto;
	margin-top: -1px;
}

.card .card-title {
	text-align: center;
}

.card .button-full {
	margin-bottom: -1px;
}

input[type="search"] {
	background-color: transparent;
}